:root{
    --blue-color:#2f7de1;
}

body{
	background-color: #c4c4c4;
    font-family: "Segoe UI", Arial, sans-serif;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: var(--blue-color);
}

.logo{
    width: 80px;
}

#timer_text{
	color: #FFFF00;
	font-weight: bold;
	font-size: 100px;
	margin: 20px;
}


button, #myBtn {
	height: 40px;
	border-radius: 2px;
    background-color: white;
    border: none;
    cursor: pointer;
}

#myBtn{
    width: 290px;
    border-radius: 20px;
    margin-top: 19px;
}

#myBtn:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

#myBtn:focus{
    outline: 0;
}

.welcome{
	color: #FFFFFF;
	font-size: 30px;
	margin: 20px;
}

input[type="number"] {
    width: 70px;
    border: none;
	border-radius:2px;
    height: 25px;
    padding: 5px;
    margin-left: 0.75em;
    margin-right: 0.75em;
    text-align: center;
}

input[type="number"]:focus{
    outline: none;
}

input::placeholder{
    text-align: center;
}

p {
	color: white;
}