body{
	background-color: #232323;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#timer_text{
	color: #FFFF00;
	font-weight: bold;
	font-size: 100px;
	margin: 20px;
}


button, #myBtn {
	height: 40px;
	width: 100px;
	margin: 20px;
	border-radius: 10px;
}

.welcome{
	color: #FFFFFF;
	font-size: 30px;
	margin: 20px;
}

input[type="number"] {
	border-radius: 10px;

}

span,p {
	color: white;
}